


/*Marine HEADER*/
header {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-image: url(https://hd.unsplash.com/photo-1460400355256-e87506dcec4f);
	background-size: 100%;
}
.bouton_menu ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
	font-size: 25px;
	color: white;
	font-weight: bold;
}
.titre {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	color: white;
}
.titre h5 a {
	color: white;
	font-size: 30px;
	border: solid white 3px;
}

/*dylan*/
menu{
	margin-left: -1%;
	background-color: #FFFFF3;
	
}

.categorie h1{
	text-align: center;
	color: #F68657;

}

.categorie p{
	text-align: center;

}

.categorie li{
	border-style: solid;
	border-radius: 5px;
	margin-right: 20px;
	list-style: none;
	font-size: 20px;

}

.categorie ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 2%;
	text-align: center;
}

/*Marine IMAGES*/

.photos div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/*Axel SERVICES*/
.titre_services{
	text-align: center;
	color: pink;
	text-transform: uppercase; 
}

.en_tete p{
	text-align: center;
}

.icone_1 h3{
	text-transform: uppercase;
	color: pink;
	font-size: 14px;

}

.icone_2 h3{
	text-transform: uppercase; 
	color: pink;
	font-size: 14px;

}

.icone_3 h3{
	text-transform: uppercase;
	color: pink;
	font-size: 14px;
}

.services{
	background: url(https://hd.unsplash.com/photo-1438216983993-cdcd7dea84ce)


}

